

<footer class="footer">
    <div class="footer-content">
        <div class="info-container">
            <h2>Electrician Bay Area, California</h2>
            <div class="info-item">
                <mat-icon>home</mat-icon>
                <span>Hertz Electric Inc Bay Area, California</span>
            </div>
            <div class="info-item">
                <mat-icon>call</mat-icon>
                <span>(415) 676-0598</span>
            </div>
            <div class="mail info-item">
                <mat-icon>mail</mat-icon>
                <a href="mailto:arash@thehertzelectric.com">arash&#64;thehertzelectric.com</a>
            </div>
            <div class="info-item">
                <mat-icon svgIcon="custom-icons:instagram"></mat-icon>
                <mat-icon svgIcon="custom-icons:google"></mat-icon>
                <mat-icon svgIcon="custom-icons:yelp"></mat-icon>
                <mat-icon>star-rate</mat-icon>
            </div>
            <div class="info-item">
                <span>Emergency Services Available</span>
            </div>
            <div class="info-item">
                <span>Payment Methods: Check, Cash, Paypal</span>
            </div>
            <div class="info-item">
                <span>License #1073674</span>
            </div>
        </div>
        <div class="footer-contact">
            <app-contact></app-contact>
        </div>
    </div>
    <div class="map-conainer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57456836.33851881!2d160.07080078124994!3d37.33522435930639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcae48af93ff5%3A0xb99d8c0aca9f717b!2sSan%20Jos%C3%A9%2C%20Kalifornien%2C%20USA!5e1!3m2!1sde!2sde!4v1730570003615!5m2!1sde!2sde" width="1100" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>
  