<h1>"Willkommen auf meiner Reise zur Code-Brillanz – wo jeder kleine Schritt zu bedeutenden Erfolgen führt."</h1>
<hr>
<!-- <h2>Sprint Review</h2>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                meilestone 1
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>1.Node.js und Angular CLI installieren</p>
        <p>2.Neues Projekt erstellen</p>
        <p>3.Komponente erstellen</p>
        <p>4.(Fake) Backend Setup: json-server</p>
        <p>5.vier endpunkt erstellen(show,add, edit,delete)</p>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                meilestone 2
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>1.cleanup api</p>
        <p>2.SSH key erstellen für privat und arbeits-rechner</p>
        <p>3.routing</p>
        <p>4.use material UI</p>
        <p>5.Refactor Edit-Features (Preloading der Daten) </p>
        <p>6.order item</p>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                meilestone 3
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>1.Abschluss des order item Features inkl Steuerberechnung</p>
        <p>2.use Dialog (confirm dialog for deletion)</p>
        <p>3.Breadcrumbs für Unterseiten (z.B. Home > Product auf der Edit-Seite)</p>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Reflexion über Herausforderungen
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>1.Zeitmangel</p>
        <p>2.Github konfiguration</p>
        <p>3.use material UI</p>
    </mat-expansion-panel>
</mat-accordion>
  
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Wie ich mich im Verlauf meiner eigenen Entwicklung weiterentwickelt habe:
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>1.Seit dem Ende des Monats März habe ich jeden Monat etwa 1 bis 2 Tage für Coachingstunden reserviert. Insgesamt habe ich bisher ungefähr eine Woche in dieses Coaching investiert.</p>
        <p>2.Dieses private Projekt hat meine Produktivität gesteigert und mir geholfen, Aufgaben schneller zu erledigen.</p>
        <p>3.Durch strukturierteres Arbeiten und methodisches Vorgehen in meinen Tätigkeiten habe ich meine Effizienz gesteigert und arbeite zielorientierter.</p>
        <p>4.Durch diese Erfahrung verbringe ich weniger Zeit in Blockaden und arbeite effektiver.</p>
        <p>5.Empfinde ich eine gesteigerte Begeisterung und finde mehr Freude an der Programmierung.</p>
    </mat-expansion-panel>
</mat-accordion>
  --> 